<div id="connect_box">
    <label for="nickname">Nickname:</label>
    <input class="connect_input" type="text" id="nickname" name="nickname"/>
    <div class="clear"></div>
    <label for="hostname">IRC Server:</label>
    <input class="connect_input" type="text" id="hostname" name="hostname"/>
    <div class="clear"></div>
    <label for="port">Port:</label>
    <input class="connect_input" type="text" id="port" name="port"/>
    <div class="clear"></div>
    <div id="connect_btn_container"><input type="button" id="connect_btn" value="Connect!"/></div>
    <div class="clear"></div>
</div>